@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  display: grid;
  min-height: 100vh;
  /* background: #48d1cc !important; */
  background-image: url('http://localhost:3000/v870-tang-35.jpg');
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

.content {
  /* background-color: #48d1cc !important; */
  background-image: url('http://localhost:3000/v870-tang-35.jpg');
  padding: 20px;
}

nav {

  box-shadow: 0 .1em 1em #000;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px; /* this line */
  /* background-color: white; */
  background-image: linear-gradient(to right, #cffefa, #a4e2dc, #7ac7bd, #4cac9f, #039181);
}

nav li {
  display: inline;
  padding-right: 30px;
}

div {
  display: inline-block;
  margin-top: 30px;
}

header {
  display: inline-block;
  margin-left: 30px;
  margin-right: auto;
}

h1 {
  margin-left: 30px;
}

section #card{
  margin-top: 100px;
  box-shadow: 0 .2em 2em #000;
}

.card{
  box-shadow: 0 .1em 1em #000;
}

label,input{
  display:flex;
  flex-direction:column;
}

form {
  margin-left: 30px;
  margin-top: 40px;
}

input {
  margin-top: 5px;
}

#addpatient {
  display:flex;
  flex-direction:column;
  margin-top: 25px;
}

.listpesel {
  display: list-item;
  list-style-type: none;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;

}

.dataResult::-webkit-scrollbar {
  display: inline;
}

.dataResult .listpesel {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  
}

a.listpesel:hover{
  background-color: lightgray;
}

.buttonic {
  font: 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-right: 10px;
  background-image: linear-gradient(-180deg, #6baaa0 0%, #abe7d8 100%);
  border-radius: 5px;
}

.buttonic2 {
  font: 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #110e0e;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-right: 10px;
  background-image: linear-gradient(-180deg, #6baaa0 0%, #abe7d8 100%);
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
}

.goTo {
  margin-left: 500px;
}

.onepatient{
  display: list-item;
}

.buttonic3{
  font: 36px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #110e0e;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-right: 10px;
  background-image: linear-gradient(-180deg, #6baaa0 0%, #abe7d8 100%);
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 25px;
}